---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import BlogLayout from "@layouts/BlogLayout.astro";

export const getStaticPaths = (async () => {

  const blogPosts = await getCollection('blog');
  
  return blogPosts.map((post) => {

    return {
      params: { slug: post.slug },
      props: { post: post.data }
    }
  });

}) satisfies GetStaticPaths;

const { post } = Astro.props;
---
<BlogLayout title={post.title}>
  <h1>Prueba blog</h1>
</BlogLayout>