---
import { siteConfig } from "src/config/site-config";

const links = [
  { href: '/blog/1', text: 'Blog Paginado' },
  { href: '/authors', text: 'Favoritos' },
]

const { pathname } = Astro.url;
---

<header class="bg-gray-900/65 p-4 grid place-content-center">
  <a href="/" class="hover:cursor-pointer">
    <h1
      class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white text-center"
    >
      {siteConfig.title}
    </h1>
  </a>
  <nav class="flex gap-2 mt-2">
    {
      links.map(({ href, text }) => (
        <div>
          <a
            href={href}
            class="text-blue-600 text-lg dark:text-gray-200 mx-1.5 sm:mx-6"
            >{text}</a>

          {
            pathname === href ? (
              <div transition:name="menu-line" class="border-b-2 border-blue-500 mx-4" />
            )
            : (
              <div class="border-b-2 border-transparent mx-4" />
            )
          }
        </div>
      ))
    }
  </nav>
</header>