
---
import { ViewTransitions } from 'astro:transitions';

import '../styles/blog.css';

const { title, ...rest } = Astro.props;
const frontmatter = rest.frontmatter;
// console.log(frontmatter);
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
    <ViewTransitions />
	</head>
	<body class="bg-gray-900 p-2">
    <a href="/">Regresar</a>
		<main class="mb-10 max-w-5xl m-auto">
      <slot />
    </main>
	</body>
</html>
