---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-gray-900">
		<header class="bg-gray-900/65 text-white p-4 grid place-content-center">
			<nav class="flex gap-8">
				<a class="transition-all ease-in-out p-2 hover:underline" href="/">Inicio</a>
				<a class="transition-all ease-in-out p-2 hover:underline" href="/blog/1">Blog Paginado</a>
				<a class="transition-all ease-in-out p-2 hover:underline" href="/authors">Autores</a>
			</nav>
		</header>
		<main class="mb-10 max-w-5xl px-5 m-auto">
      <slot />
    </main>
	</body>
</html>
